li:nth-child(1) a{
    border: 5px solid;
    border-color: green;
}
li:nth-child(2) a{
    border: 5px solid;
    border-color: pink;
}
li:nth-child(3) a{
    border: 5px solid;
    border-color: orange;
}
li:nth-child(4) a{
    border: 5px solid;
    border-color: orange;
}
